/*

CONVERTED WITH
https://json2csharp.com/css-tools/scss-to-css

$colors-light-mode: (
	'background': #FCFBF8,
	'foreground': #22272D,
);

$colors-dark-mode: (
	'background': #22272D,
	'foreground': #FCFBF8,
);

:root {
	@for $opacity from 0 through 100 {
		@each $name, $color in $colors-light-mode {
			--color-#{$name}-#{$opacity}: #{rgba($color, calc($opacity / 100))};
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		@for $opacity from 0 through 100 {
			@each $name, $color in $colors-dark-mode {
				--color-#{$name}-#{$opacity}: #{rgba($color,calc($opacity / 100))};
			}
		}
	}
}
	
*/

:root {
	--color-background-0: rgba(252, 251, 248, 0);
	--color-foreground-0: rgba(34, 39, 45, 0);
	--color-background-1: rgba(252, 251, 248, 0.01);
	--color-foreground-1: rgba(34, 39, 45, 0.01);
	--color-background-2: rgba(252, 251, 248, 0.02);
	--color-foreground-2: rgba(34, 39, 45, 0.02);
	--color-background-3: rgba(252, 251, 248, 0.03);
	--color-foreground-3: rgba(34, 39, 45, 0.03);
	--color-background-4: rgba(252, 251, 248, 0.04);
	--color-foreground-4: rgba(34, 39, 45, 0.04);
	--color-background-5: rgba(252, 251, 248, 0.05);
	--color-foreground-5: rgba(34, 39, 45, 0.05);
	--color-background-6: rgba(252, 251, 248, 0.06);
	--color-foreground-6: rgba(34, 39, 45, 0.06);
	--color-background-7: rgba(252, 251, 248, 0.07);
	--color-foreground-7: rgba(34, 39, 45, 0.07);
	--color-background-8: rgba(252, 251, 248, 0.08);
	--color-foreground-8: rgba(34, 39, 45, 0.08);
	--color-background-9: rgba(252, 251, 248, 0.09);
	--color-foreground-9: rgba(34, 39, 45, 0.09);
	--color-background-10: rgba(252, 251, 248, 0.1);
	--color-foreground-10: rgba(34, 39, 45, 0.1);
	--color-background-11: rgba(252, 251, 248, 0.11);
	--color-foreground-11: rgba(34, 39, 45, 0.11);
	--color-background-12: rgba(252, 251, 248, 0.12);
	--color-foreground-12: rgba(34, 39, 45, 0.12);
	--color-background-13: rgba(252, 251, 248, 0.13);
	--color-foreground-13: rgba(34, 39, 45, 0.13);
	--color-background-14: rgba(252, 251, 248, 0.14);
	--color-foreground-14: rgba(34, 39, 45, 0.14);
	--color-background-15: rgba(252, 251, 248, 0.15);
	--color-foreground-15: rgba(34, 39, 45, 0.15);
	--color-background-16: rgba(252, 251, 248, 0.16);
	--color-foreground-16: rgba(34, 39, 45, 0.16);
	--color-background-17: rgba(252, 251, 248, 0.17);
	--color-foreground-17: rgba(34, 39, 45, 0.17);
	--color-background-18: rgba(252, 251, 248, 0.18);
	--color-foreground-18: rgba(34, 39, 45, 0.18);
	--color-background-19: rgba(252, 251, 248, 0.19);
	--color-foreground-19: rgba(34, 39, 45, 0.19);
	--color-background-20: rgba(252, 251, 248, 0.2);
	--color-foreground-20: rgba(34, 39, 45, 0.2);
	--color-background-21: rgba(252, 251, 248, 0.21);
	--color-foreground-21: rgba(34, 39, 45, 0.21);
	--color-background-22: rgba(252, 251, 248, 0.22);
	--color-foreground-22: rgba(34, 39, 45, 0.22);
	--color-background-23: rgba(252, 251, 248, 0.23);
	--color-foreground-23: rgba(34, 39, 45, 0.23);
	--color-background-24: rgba(252, 251, 248, 0.24);
	--color-foreground-24: rgba(34, 39, 45, 0.24);
	--color-background-25: rgba(252, 251, 248, 0.25);
	--color-foreground-25: rgba(34, 39, 45, 0.25);
	--color-background-26: rgba(252, 251, 248, 0.26);
	--color-foreground-26: rgba(34, 39, 45, 0.26);
	--color-background-27: rgba(252, 251, 248, 0.27);
	--color-foreground-27: rgba(34, 39, 45, 0.27);
	--color-background-28: rgba(252, 251, 248, 0.28);
	--color-foreground-28: rgba(34, 39, 45, 0.28);
	--color-background-29: rgba(252, 251, 248, 0.29);
	--color-foreground-29: rgba(34, 39, 45, 0.29);
	--color-background-30: rgba(252, 251, 248, 0.3);
	--color-foreground-30: rgba(34, 39, 45, 0.3);
	--color-background-31: rgba(252, 251, 248, 0.31);
	--color-foreground-31: rgba(34, 39, 45, 0.31);
	--color-background-32: rgba(252, 251, 248, 0.32);
	--color-foreground-32: rgba(34, 39, 45, 0.32);
	--color-background-33: rgba(252, 251, 248, 0.33);
	--color-foreground-33: rgba(34, 39, 45, 0.33);
	--color-background-34: rgba(252, 251, 248, 0.34);
	--color-foreground-34: rgba(34, 39, 45, 0.34);
	--color-background-35: rgba(252, 251, 248, 0.35);
	--color-foreground-35: rgba(34, 39, 45, 0.35);
	--color-background-36: rgba(252, 251, 248, 0.36);
	--color-foreground-36: rgba(34, 39, 45, 0.36);
	--color-background-37: rgba(252, 251, 248, 0.37);
	--color-foreground-37: rgba(34, 39, 45, 0.37);
	--color-background-38: rgba(252, 251, 248, 0.38);
	--color-foreground-38: rgba(34, 39, 45, 0.38);
	--color-background-39: rgba(252, 251, 248, 0.39);
	--color-foreground-39: rgba(34, 39, 45, 0.39);
	--color-background-40: rgba(252, 251, 248, 0.4);
	--color-foreground-40: rgba(34, 39, 45, 0.4);
	--color-background-41: rgba(252, 251, 248, 0.41);
	--color-foreground-41: rgba(34, 39, 45, 0.41);
	--color-background-42: rgba(252, 251, 248, 0.42);
	--color-foreground-42: rgba(34, 39, 45, 0.42);
	--color-background-43: rgba(252, 251, 248, 0.43);
	--color-foreground-43: rgba(34, 39, 45, 0.43);
	--color-background-44: rgba(252, 251, 248, 0.44);
	--color-foreground-44: rgba(34, 39, 45, 0.44);
	--color-background-45: rgba(252, 251, 248, 0.45);
	--color-foreground-45: rgba(34, 39, 45, 0.45);
	--color-background-46: rgba(252, 251, 248, 0.46);
	--color-foreground-46: rgba(34, 39, 45, 0.46);
	--color-background-47: rgba(252, 251, 248, 0.47);
	--color-foreground-47: rgba(34, 39, 45, 0.47);
	--color-background-48: rgba(252, 251, 248, 0.48);
	--color-foreground-48: rgba(34, 39, 45, 0.48);
	--color-background-49: rgba(252, 251, 248, 0.49);
	--color-foreground-49: rgba(34, 39, 45, 0.49);
	--color-background-50: rgba(252, 251, 248, 0.5);
	--color-foreground-50: rgba(34, 39, 45, 0.5);
	--color-background-51: rgba(252, 251, 248, 0.51);
	--color-foreground-51: rgba(34, 39, 45, 0.51);
	--color-background-52: rgba(252, 251, 248, 0.52);
	--color-foreground-52: rgba(34, 39, 45, 0.52);
	--color-background-53: rgba(252, 251, 248, 0.53);
	--color-foreground-53: rgba(34, 39, 45, 0.53);
	--color-background-54: rgba(252, 251, 248, 0.54);
	--color-foreground-54: rgba(34, 39, 45, 0.54);
	--color-background-55: rgba(252, 251, 248, 0.55);
	--color-foreground-55: rgba(34, 39, 45, 0.55);
	--color-background-56: rgba(252, 251, 248, 0.56);
	--color-foreground-56: rgba(34, 39, 45, 0.56);
	--color-background-57: rgba(252, 251, 248, 0.57);
	--color-foreground-57: rgba(34, 39, 45, 0.57);
	--color-background-58: rgba(252, 251, 248, 0.58);
	--color-foreground-58: rgba(34, 39, 45, 0.58);
	--color-background-59: rgba(252, 251, 248, 0.59);
	--color-foreground-59: rgba(34, 39, 45, 0.59);
	--color-background-60: rgba(252, 251, 248, 0.6);
	--color-foreground-60: rgba(34, 39, 45, 0.6);
	--color-background-61: rgba(252, 251, 248, 0.61);
	--color-foreground-61: rgba(34, 39, 45, 0.61);
	--color-background-62: rgba(252, 251, 248, 0.62);
	--color-foreground-62: rgba(34, 39, 45, 0.62);
	--color-background-63: rgba(252, 251, 248, 0.63);
	--color-foreground-63: rgba(34, 39, 45, 0.63);
	--color-background-64: rgba(252, 251, 248, 0.64);
	--color-foreground-64: rgba(34, 39, 45, 0.64);
	--color-background-65: rgba(252, 251, 248, 0.65);
	--color-foreground-65: rgba(34, 39, 45, 0.65);
	--color-background-66: rgba(252, 251, 248, 0.66);
	--color-foreground-66: rgba(34, 39, 45, 0.66);
	--color-background-67: rgba(252, 251, 248, 0.67);
	--color-foreground-67: rgba(34, 39, 45, 0.67);
	--color-background-68: rgba(252, 251, 248, 0.68);
	--color-foreground-68: rgba(34, 39, 45, 0.68);
	--color-background-69: rgba(252, 251, 248, 0.69);
	--color-foreground-69: rgba(34, 39, 45, 0.69);
	--color-background-70: rgba(252, 251, 248, 0.7);
	--color-foreground-70: rgba(34, 39, 45, 0.7);
	--color-background-71: rgba(252, 251, 248, 0.71);
	--color-foreground-71: rgba(34, 39, 45, 0.71);
	--color-background-72: rgba(252, 251, 248, 0.72);
	--color-foreground-72: rgba(34, 39, 45, 0.72);
	--color-background-73: rgba(252, 251, 248, 0.73);
	--color-foreground-73: rgba(34, 39, 45, 0.73);
	--color-background-74: rgba(252, 251, 248, 0.74);
	--color-foreground-74: rgba(34, 39, 45, 0.74);
	--color-background-75: rgba(252, 251, 248, 0.75);
	--color-foreground-75: rgba(34, 39, 45, 0.75);
	--color-background-76: rgba(252, 251, 248, 0.76);
	--color-foreground-76: rgba(34, 39, 45, 0.76);
	--color-background-77: rgba(252, 251, 248, 0.77);
	--color-foreground-77: rgba(34, 39, 45, 0.77);
	--color-background-78: rgba(252, 251, 248, 0.78);
	--color-foreground-78: rgba(34, 39, 45, 0.78);
	--color-background-79: rgba(252, 251, 248, 0.79);
	--color-foreground-79: rgba(34, 39, 45, 0.79);
	--color-background-80: rgba(252, 251, 248, 0.8);
	--color-foreground-80: rgba(34, 39, 45, 0.8);
	--color-background-81: rgba(252, 251, 248, 0.81);
	--color-foreground-81: rgba(34, 39, 45, 0.81);
	--color-background-82: rgba(252, 251, 248, 0.82);
	--color-foreground-82: rgba(34, 39, 45, 0.82);
	--color-background-83: rgba(252, 251, 248, 0.83);
	--color-foreground-83: rgba(34, 39, 45, 0.83);
	--color-background-84: rgba(252, 251, 248, 0.84);
	--color-foreground-84: rgba(34, 39, 45, 0.84);
	--color-background-85: rgba(252, 251, 248, 0.85);
	--color-foreground-85: rgba(34, 39, 45, 0.85);
	--color-background-86: rgba(252, 251, 248, 0.86);
	--color-foreground-86: rgba(34, 39, 45, 0.86);
	--color-background-87: rgba(252, 251, 248, 0.87);
	--color-foreground-87: rgba(34, 39, 45, 0.87);
	--color-background-88: rgba(252, 251, 248, 0.88);
	--color-foreground-88: rgba(34, 39, 45, 0.88);
	--color-background-89: rgba(252, 251, 248, 0.89);
	--color-foreground-89: rgba(34, 39, 45, 0.89);
	--color-background-90: rgba(252, 251, 248, 0.9);
	--color-foreground-90: rgba(34, 39, 45, 0.9);
	--color-background-91: rgba(252, 251, 248, 0.91);
	--color-foreground-91: rgba(34, 39, 45, 0.91);
	--color-background-92: rgba(252, 251, 248, 0.92);
	--color-foreground-92: rgba(34, 39, 45, 0.92);
	--color-background-93: rgba(252, 251, 248, 0.93);
	--color-foreground-93: rgba(34, 39, 45, 0.93);
	--color-background-94: rgba(252, 251, 248, 0.94);
	--color-foreground-94: rgba(34, 39, 45, 0.94);
	--color-background-95: rgba(252, 251, 248, 0.95);
	--color-foreground-95: rgba(34, 39, 45, 0.95);
	--color-background-96: rgba(252, 251, 248, 0.96);
	--color-foreground-96: rgba(34, 39, 45, 0.96);
	--color-background-97: rgba(252, 251, 248, 0.97);
	--color-foreground-97: rgba(34, 39, 45, 0.97);
	--color-background-98: rgba(252, 251, 248, 0.98);
	--color-foreground-98: rgba(34, 39, 45, 0.98);
	--color-background-99: rgba(252, 251, 248, 0.99);
	--color-foreground-99: rgba(34, 39, 45, 0.99);
	--color-background-100: #fcfbf8;
	--color-foreground-100: #22272d;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background-0: rgba(34, 39, 45, 0);
		--color-foreground-0: rgba(252, 251, 248, 0);
		--color-background-1: rgba(34, 39, 45, 0.01);
		--color-foreground-1: rgba(252, 251, 248, 0.01);
		--color-background-2: rgba(34, 39, 45, 0.02);
		--color-foreground-2: rgba(252, 251, 248, 0.02);
		--color-background-3: rgba(34, 39, 45, 0.03);
		--color-foreground-3: rgba(252, 251, 248, 0.03);
		--color-background-4: rgba(34, 39, 45, 0.04);
		--color-foreground-4: rgba(252, 251, 248, 0.04);
		--color-background-5: rgba(34, 39, 45, 0.05);
		--color-foreground-5: rgba(252, 251, 248, 0.05);
		--color-background-6: rgba(34, 39, 45, 0.06);
		--color-foreground-6: rgba(252, 251, 248, 0.06);
		--color-background-7: rgba(34, 39, 45, 0.07);
		--color-foreground-7: rgba(252, 251, 248, 0.07);
		--color-background-8: rgba(34, 39, 45, 0.08);
		--color-foreground-8: rgba(252, 251, 248, 0.08);
		--color-background-9: rgba(34, 39, 45, 0.09);
		--color-foreground-9: rgba(252, 251, 248, 0.09);
		--color-background-10: rgba(34, 39, 45, 0.1);
		--color-foreground-10: rgba(252, 251, 248, 0.1);
		--color-background-11: rgba(34, 39, 45, 0.11);
		--color-foreground-11: rgba(252, 251, 248, 0.11);
		--color-background-12: rgba(34, 39, 45, 0.12);
		--color-foreground-12: rgba(252, 251, 248, 0.12);
		--color-background-13: rgba(34, 39, 45, 0.13);
		--color-foreground-13: rgba(252, 251, 248, 0.13);
		--color-background-14: rgba(34, 39, 45, 0.14);
		--color-foreground-14: rgba(252, 251, 248, 0.14);
		--color-background-15: rgba(34, 39, 45, 0.15);
		--color-foreground-15: rgba(252, 251, 248, 0.15);
		--color-background-16: rgba(34, 39, 45, 0.16);
		--color-foreground-16: rgba(252, 251, 248, 0.16);
		--color-background-17: rgba(34, 39, 45, 0.17);
		--color-foreground-17: rgba(252, 251, 248, 0.17);
		--color-background-18: rgba(34, 39, 45, 0.18);
		--color-foreground-18: rgba(252, 251, 248, 0.18);
		--color-background-19: rgba(34, 39, 45, 0.19);
		--color-foreground-19: rgba(252, 251, 248, 0.19);
		--color-background-20: rgba(34, 39, 45, 0.2);
		--color-foreground-20: rgba(252, 251, 248, 0.2);
		--color-background-21: rgba(34, 39, 45, 0.21);
		--color-foreground-21: rgba(252, 251, 248, 0.21);
		--color-background-22: rgba(34, 39, 45, 0.22);
		--color-foreground-22: rgba(252, 251, 248, 0.22);
		--color-background-23: rgba(34, 39, 45, 0.23);
		--color-foreground-23: rgba(252, 251, 248, 0.23);
		--color-background-24: rgba(34, 39, 45, 0.24);
		--color-foreground-24: rgba(252, 251, 248, 0.24);
		--color-background-25: rgba(34, 39, 45, 0.25);
		--color-foreground-25: rgba(252, 251, 248, 0.25);
		--color-background-26: rgba(34, 39, 45, 0.26);
		--color-foreground-26: rgba(252, 251, 248, 0.26);
		--color-background-27: rgba(34, 39, 45, 0.27);
		--color-foreground-27: rgba(252, 251, 248, 0.27);
		--color-background-28: rgba(34, 39, 45, 0.28);
		--color-foreground-28: rgba(252, 251, 248, 0.28);
		--color-background-29: rgba(34, 39, 45, 0.29);
		--color-foreground-29: rgba(252, 251, 248, 0.29);
		--color-background-30: rgba(34, 39, 45, 0.3);
		--color-foreground-30: rgba(252, 251, 248, 0.3);
		--color-background-31: rgba(34, 39, 45, 0.31);
		--color-foreground-31: rgba(252, 251, 248, 0.31);
		--color-background-32: rgba(34, 39, 45, 0.32);
		--color-foreground-32: rgba(252, 251, 248, 0.32);
		--color-background-33: rgba(34, 39, 45, 0.33);
		--color-foreground-33: rgba(252, 251, 248, 0.33);
		--color-background-34: rgba(34, 39, 45, 0.34);
		--color-foreground-34: rgba(252, 251, 248, 0.34);
		--color-background-35: rgba(34, 39, 45, 0.35);
		--color-foreground-35: rgba(252, 251, 248, 0.35);
		--color-background-36: rgba(34, 39, 45, 0.36);
		--color-foreground-36: rgba(252, 251, 248, 0.36);
		--color-background-37: rgba(34, 39, 45, 0.37);
		--color-foreground-37: rgba(252, 251, 248, 0.37);
		--color-background-38: rgba(34, 39, 45, 0.38);
		--color-foreground-38: rgba(252, 251, 248, 0.38);
		--color-background-39: rgba(34, 39, 45, 0.39);
		--color-foreground-39: rgba(252, 251, 248, 0.39);
		--color-background-40: rgba(34, 39, 45, 0.4);
		--color-foreground-40: rgba(252, 251, 248, 0.4);
		--color-background-41: rgba(34, 39, 45, 0.41);
		--color-foreground-41: rgba(252, 251, 248, 0.41);
		--color-background-42: rgba(34, 39, 45, 0.42);
		--color-foreground-42: rgba(252, 251, 248, 0.42);
		--color-background-43: rgba(34, 39, 45, 0.43);
		--color-foreground-43: rgba(252, 251, 248, 0.43);
		--color-background-44: rgba(34, 39, 45, 0.44);
		--color-foreground-44: rgba(252, 251, 248, 0.44);
		--color-background-45: rgba(34, 39, 45, 0.45);
		--color-foreground-45: rgba(252, 251, 248, 0.45);
		--color-background-46: rgba(34, 39, 45, 0.46);
		--color-foreground-46: rgba(252, 251, 248, 0.46);
		--color-background-47: rgba(34, 39, 45, 0.47);
		--color-foreground-47: rgba(252, 251, 248, 0.47);
		--color-background-48: rgba(34, 39, 45, 0.48);
		--color-foreground-48: rgba(252, 251, 248, 0.48);
		--color-background-49: rgba(34, 39, 45, 0.49);
		--color-foreground-49: rgba(252, 251, 248, 0.49);
		--color-background-50: rgba(34, 39, 45, 0.5);
		--color-foreground-50: rgba(252, 251, 248, 0.5);
		--color-background-51: rgba(34, 39, 45, 0.51);
		--color-foreground-51: rgba(252, 251, 248, 0.51);
		--color-background-52: rgba(34, 39, 45, 0.52);
		--color-foreground-52: rgba(252, 251, 248, 0.52);
		--color-background-53: rgba(34, 39, 45, 0.53);
		--color-foreground-53: rgba(252, 251, 248, 0.53);
		--color-background-54: rgba(34, 39, 45, 0.54);
		--color-foreground-54: rgba(252, 251, 248, 0.54);
		--color-background-55: rgba(34, 39, 45, 0.55);
		--color-foreground-55: rgba(252, 251, 248, 0.55);
		--color-background-56: rgba(34, 39, 45, 0.56);
		--color-foreground-56: rgba(252, 251, 248, 0.56);
		--color-background-57: rgba(34, 39, 45, 0.57);
		--color-foreground-57: rgba(252, 251, 248, 0.57);
		--color-background-58: rgba(34, 39, 45, 0.58);
		--color-foreground-58: rgba(252, 251, 248, 0.58);
		--color-background-59: rgba(34, 39, 45, 0.59);
		--color-foreground-59: rgba(252, 251, 248, 0.59);
		--color-background-60: rgba(34, 39, 45, 0.6);
		--color-foreground-60: rgba(252, 251, 248, 0.6);
		--color-background-61: rgba(34, 39, 45, 0.61);
		--color-foreground-61: rgba(252, 251, 248, 0.61);
		--color-background-62: rgba(34, 39, 45, 0.62);
		--color-foreground-62: rgba(252, 251, 248, 0.62);
		--color-background-63: rgba(34, 39, 45, 0.63);
		--color-foreground-63: rgba(252, 251, 248, 0.63);
		--color-background-64: rgba(34, 39, 45, 0.64);
		--color-foreground-64: rgba(252, 251, 248, 0.64);
		--color-background-65: rgba(34, 39, 45, 0.65);
		--color-foreground-65: rgba(252, 251, 248, 0.65);
		--color-background-66: rgba(34, 39, 45, 0.66);
		--color-foreground-66: rgba(252, 251, 248, 0.66);
		--color-background-67: rgba(34, 39, 45, 0.67);
		--color-foreground-67: rgba(252, 251, 248, 0.67);
		--color-background-68: rgba(34, 39, 45, 0.68);
		--color-foreground-68: rgba(252, 251, 248, 0.68);
		--color-background-69: rgba(34, 39, 45, 0.69);
		--color-foreground-69: rgba(252, 251, 248, 0.69);
		--color-background-70: rgba(34, 39, 45, 0.7);
		--color-foreground-70: rgba(252, 251, 248, 0.7);
		--color-background-71: rgba(34, 39, 45, 0.71);
		--color-foreground-71: rgba(252, 251, 248, 0.71);
		--color-background-72: rgba(34, 39, 45, 0.72);
		--color-foreground-72: rgba(252, 251, 248, 0.72);
		--color-background-73: rgba(34, 39, 45, 0.73);
		--color-foreground-73: rgba(252, 251, 248, 0.73);
		--color-background-74: rgba(34, 39, 45, 0.74);
		--color-foreground-74: rgba(252, 251, 248, 0.74);
		--color-background-75: rgba(34, 39, 45, 0.75);
		--color-foreground-75: rgba(252, 251, 248, 0.75);
		--color-background-76: rgba(34, 39, 45, 0.76);
		--color-foreground-76: rgba(252, 251, 248, 0.76);
		--color-background-77: rgba(34, 39, 45, 0.77);
		--color-foreground-77: rgba(252, 251, 248, 0.77);
		--color-background-78: rgba(34, 39, 45, 0.78);
		--color-foreground-78: rgba(252, 251, 248, 0.78);
		--color-background-79: rgba(34, 39, 45, 0.79);
		--color-foreground-79: rgba(252, 251, 248, 0.79);
		--color-background-80: rgba(34, 39, 45, 0.8);
		--color-foreground-80: rgba(252, 251, 248, 0.8);
		--color-background-81: rgba(34, 39, 45, 0.81);
		--color-foreground-81: rgba(252, 251, 248, 0.81);
		--color-background-82: rgba(34, 39, 45, 0.82);
		--color-foreground-82: rgba(252, 251, 248, 0.82);
		--color-background-83: rgba(34, 39, 45, 0.83);
		--color-foreground-83: rgba(252, 251, 248, 0.83);
		--color-background-84: rgba(34, 39, 45, 0.84);
		--color-foreground-84: rgba(252, 251, 248, 0.84);
		--color-background-85: rgba(34, 39, 45, 0.85);
		--color-foreground-85: rgba(252, 251, 248, 0.85);
		--color-background-86: rgba(34, 39, 45, 0.86);
		--color-foreground-86: rgba(252, 251, 248, 0.86);
		--color-background-87: rgba(34, 39, 45, 0.87);
		--color-foreground-87: rgba(252, 251, 248, 0.87);
		--color-background-88: rgba(34, 39, 45, 0.88);
		--color-foreground-88: rgba(252, 251, 248, 0.88);
		--color-background-89: rgba(34, 39, 45, 0.89);
		--color-foreground-89: rgba(252, 251, 248, 0.89);
		--color-background-90: rgba(34, 39, 45, 0.9);
		--color-foreground-90: rgba(252, 251, 248, 0.9);
		--color-background-91: rgba(34, 39, 45, 0.91);
		--color-foreground-91: rgba(252, 251, 248, 0.91);
		--color-background-92: rgba(34, 39, 45, 0.92);
		--color-foreground-92: rgba(252, 251, 248, 0.92);
		--color-background-93: rgba(34, 39, 45, 0.93);
		--color-foreground-93: rgba(252, 251, 248, 0.93);
		--color-background-94: rgba(34, 39, 45, 0.94);
		--color-foreground-94: rgba(252, 251, 248, 0.94);
		--color-background-95: rgba(34, 39, 45, 0.95);
		--color-foreground-95: rgba(252, 251, 248, 0.95);
		--color-background-96: rgba(34, 39, 45, 0.96);
		--color-foreground-96: rgba(252, 251, 248, 0.96);
		--color-background-97: rgba(34, 39, 45, 0.97);
		--color-foreground-97: rgba(252, 251, 248, 0.97);
		--color-background-98: rgba(34, 39, 45, 0.98);
		--color-foreground-98: rgba(252, 251, 248, 0.98);
		--color-background-99: rgba(34, 39, 45, 0.99);
		--color-foreground-99: rgba(252, 251, 248, 0.99);
		--color-background-100: #22272d;
		--color-foreground-100: #fcfbf8;
	}
}
