.tooltip {
	width: 320px;
	padding: 8px 16px;
	background: var(--color-background-100);
	backdrop-filter: blur(2px);
	border-radius: 12px;
	margin: 8px;
}

.line {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 4px 0;
}
.line + .line {
	border-top: 1px solid var(--color-foreground-10);
}

.label {
	opacity: 0.8;
}

.value {
	font-family: monospace;
}
